[Unit]
Description=Cuirass web server
Requires=cuirass-ci.service
After=cuirass-ci.service

[Service]
#Type=simple
User=cuirass
#RuntimeDirectory=cuirass
ExecStart=/home/cuirass/.guix-profile/bin/cuirass web
Restart=always

[Install]
WantedBy=multi-user.target
