[Unit]
Description=Cuirass CI server
Requires=postgresql.service

[Service]
#Type=simple
User=cuirass
RuntimeDirectory=cuirass
ExecStart=/home/cuirass/.guix-profile/bin/cuirass register

[Install]
WantedBy=multi-user.target
