[Unit]
Description=PostgreSQL database server

[Service]
Type=forking
User=postgres
RuntimeDirectory=postgresql
#Environment=PGPORT=5432
Environment=GUIX_LOCPATH=/home/postgres/.guix-profile/lib/locale
Environment=PGDATA=/home/postgres/data
ExecStart=/home/postgres/.guix-profile/bin/pg_ctl start
ExecStop=/home/postgres/.guix-profile/bin/pg_ctl stop
ExecReload=/home/postgres/.guix-profile/bin/pg_ctl reload 
#OOMScoreAdjust=-1000
#TimeoutSec=300
#Restart=always
#RestartSec=30s

[Install]
WantedBy=multi-user.target
